body{
background: #DC91AC;
background: linear-gradient(135deg, #DC91AC, #D7CCE3);
overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.container__titulo {
  color: #fff;
  text-align: center;
}
.container__general {
  position: relative;
  height: 80rem;
  width: 90%;
}
.contenedor__frase {
  max-width: 100%;
  width: 80%;
  height: 18rem;
  margin: auto;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff ;
  position: absolute;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}
.frase{
    text-align: center;
    font-size: 2rem;
    letter-spacing: .2rem;
}
.generador__frase {
  font-size: 1.5rem;
  border: 1px ;
  outline: none;
  position: relative;
  color: #fff;
  padding: 1.5rem .5rem;
  border-radius: .5rem;
  top: 25rem;
  left: 35%;
  background: linear-gradient(135deg, #FE22CF, #E9D7CA);
  cursor: pointer;
}
.open-button{
  padding: 1rem 2rem;
  border-radius: .25rem;
  background-color: #DC91AC;
  color: #fff;
  border: none;
  transition: transform .3 cubic-bezier(.36,.37,.76.75);
  cursor: pointer;
  margin-left: 5rem;
  margin-top: 20rem;
}
.open-button:active{
  transform: scale(.95);
}
.window-background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(.25rem);
  background-color: rgba(255, 255, 255,0.3);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.window-container{
  position: relative;
  background-color: #fff;
  height: auto;
  padding: 1.5rem;
  border-radius: .5rem;
  animation-name: modal;
  animation-duration: .5s;
  box-shadow: 0 .3125rem .9375rem rgba(0, 0, 0, 0.4);
  z-index: 2;

}
@keyframes modal{
  from{
    transform: translateY(50vh);
  }
  to{
    transform: translateY(0);
  }
}
.close{
  transition: transform 1s cubic-bezier(0,-0.42,1,-0.41);
  transform: translateY(60vh);
}
.close-button{
  position: absolute;
  border-radius: 50%;
  top: -0.9375rem;
  right: -0.9375rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  cursor: pointer;
}
.icon-x{
  fill: rgba(54, 54,54);
}

@media (max-width:720px) {
    .generador__frase{
        top: 24rem;
        left: 20%;
    }
    .frase {
       
        font-size: 1rem;
        letter-spacing: .2rem;
        line-height: 2.8rem;
    }
    .container__general{
        top: 6rem;
    }
}